<div class="nav-collapse">
  <ul class="nav">
    <li><%= link_to "Camps", camps_path %></li>
    <li><%= link_to "Curriculums", curriculums_path%></li>
    <li><%= link_to "Instructors", instructors_path%></li>
		<!-- <li><%# link_to "Registrations", registrations_path %></li> -->
  </ul>
</div>