<div id="main_content">
<h1>About the A &amp; M Chess Camps</h1>
<div class="row">
	<div class="small-9 columns">
		<p>
			Grandmaster Maurice Ashley once said "Chess is intellectual karate."  That in many ways sums up our philosophy that 
			governs the A &amp; M Chess Camnp.
			<br><br>
			Chess is a two-player strategy board game played on a chessboard, a checkered gameboard with 64 squares arranged in an eight-by-eight grid. It is one of the world's most popular games, played by millions of people worldwide in homes, parks, clubs, online, by correspondence, and in tournaments. 
		</p>
	</div>
	<div class="small-3 columns">
	  	<%= image_tag('horse.png') %>
	</div>
</div>
</div>