<div id="main_content">
<h1>About the A &amp; M Chess Camps</h1>
<div class="row">
	<div class="small-9 columns">
		<p>
			Grandmaster Maurice Ashley once said "Chess is intellectual karate."  That in many ways sums up our philosophy that 
			governs the A &amp; M Chess Camnp.  
		</p>
	</div>
	<div class="small-3 columns">
	  	<%= image_tag('horse.png') %>
	</div>
</div>
</div>