<div id="main_content">
<h1>Contact the A &amp; M Chess Camps</h1>
<div class="row">
	<div class="small-9 columns">
		<p>Unfortunately, the A &amp; M Chess Camp is not a real business, but 
			rather a course project for programming students at Carnegie Mellon University. We 
			are sure that you wanted to participate in our classes and even get training   
			from the best Chess Camp on the planet, but that's how it goes sometimes.  If you are 
			bitterly disappointed (and quite honestly, you should be) and want to 
			grouse to someone, here's the contact info:</p>

		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td> Skylar Weaver</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("sweaver@cmu.edu", "Skylar Weaver", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>717-460-6388</td>
			</tr>
		</table>
	</div>
	<div class="small-3 columns">
	  	<%= image_tag('horse.png') %>
	</div>
</div>
</div>